.inputTranslate {
    width: 40rem;
   border-radius: 3rem;
   font-size: 150%;
   height: 2rem;
}
.translateButton {
    position: relative;
    border-radius: 2rem;
    background-color: #845EC2;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 150%;
}
.form {
    display:flex;
    flex-direction:row;
    outline: none;
    justify-content: center;
    background-color: #FFC75F;
    padding: 2rem;
}
.form input {
    position: relative;
    outline: none;
    border-radius: 3rem;
    width: 30rem;
    font-size: 125%;
    padding-left: 2rem;
}

