@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
.navBar{
    width: 100%;
    height: 5rem;
    background-color: #FFC75F;
    border-bottom: 1rem solid #E7B355;
    display: flex;
    align-items: center;
}
.headerTitle {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff;
    margin-left: 8rem;
    flex: 1;
}
.profile {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
}
.username {
    border-radius: 2rem;
    background-color: #845EC2;
    color: #fff;
    height: 3rem;
    width: 6rem;
    font-size: 120%;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 3rem;
}
.homeProfile {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.innerProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profileButtons button {
    border-radius: 2rem;
    margin-left:.5rem;
    font-size: 125%;
}
.profileButton{
    background-color: #845EC2;
    color: #fff;
}
.translations {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem;
}
.translationItem {
    list-style-type: none;
    border-bottom: 1px solid #E7B355;
    margin-top:1rem;
    padding-bottom: .5rem;
}
.logoutButton {
    background-color: #ce4015;
    color: #fff;
}
