@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.navBar{
    width: 100%;
    height: 5rem;
    background-color: #FFC75F;
    border-bottom: 1rem solid #E7B355;
    display: flex;
    align-items: center;
}
.headerTitle {
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff;
    margin-left: 8rem;
    flex: 1;
}
.profile {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
}
.username {
    border-radius: 2rem;
    background-color: #845EC2;
    color: #fff;
    height: 3rem;
    width: 6rem;
    font-size: 120%;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 3rem;
}
.translateHome {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}   
.SectionOutputField{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.outputCard{
    width: 60rem;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1.3rem solid #845EC2;
    border-radius: .5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);  
}
img{
    width: 4rem;
    height: 4rem;
    margin-top:1em;    
}
.SectionInputField {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFC75F;
}

