@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
.headerTitle{
    width: 100%;
}
.headerTitle h1 {
  margin: 0;
  text-align: left;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #fff;
  background-color: #FFC75F;
  padding-left: 1rem;
  border-bottom: 1rem solid #E7B355;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFC75F;
    padding-top: 1rem;
}
.bannerLogo {
    width: 10rem;
    margin-right:2rem;
}
.bannerLogo img {
    width: 10rem;
    height: auto;

}
.bannerText {
    text-align: left;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputHome {
    display: flex;
    position: relative;
    top: -3rem;
    background-color: #fff;
    width: 35rem;
    height: 8rem;
    border-bottom: 1rem solid #845EC2;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.loginInput{
    width: 25rem;
    height: 3rem;
    /* Tell the input to use all the available space */
    
    /* And hide the input's outline, so the form looks like the outline */
  
    border-radius: 2rem;
    outline: none;
    font-size: 150%;
    margin-left: 1.5rem;
    padding: 1rem;
    margin-top: 6%;

    
}
.loginButton{
    border-radius: 2rem;
    background-color: #845EC2;
    color: #fff;
    height: 3rem;
    width: 6rem;
    margin-left:.5rem;
    font-size: 125%;

}

.logo{
    position: relative;
    top:-7.5rem;
    width: 10rem;
    height: auto;
}

.imgsplash{
    width: 15rem;
    height: 15rem;

}


